#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

&trackball {
    automouse-layer = <4>;
    scroll-layers = <3>;

    arrows {
        layers = <5>;
        bindings =
            <&kp RIGHT_ARROW>,
            <&kp LEFT_ARROW>,
            <&kp UP_ARROW>,
            <&kp DOWN_ARROW>;

        tick = <180>;
        wait-ms = <80>;
        tap-ms = <5>;
    };
};

/ {
    behaviors {
        // 新しいスクロール動作の追加

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            // 追加: スクロールのタップ時間を設定 (20ms)

            tap-ms = <20>;
        };

        hold_mouceto0: hold_mouceto0 {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MOUCETO0";
            bindings = <&mkp>, <&mouceto0>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "tap-preferred";
        };

        MOUCE_LAYER_LANG1: MOUCE_LAYER_LANG1 {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUCE_LAYER_LANG1";
            bindings = <&kp>, <&LANG1_to_Layer0>;

            #binding-cells = <2>;
            flavor = "tap-unless-interrupted";
            tapping-term-ms = <40>;
        };

        MOUCE_LAYER_LANG2: MOUCE_LAYER_LANG2 {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUCE_LAYER_LANG2";
            bindings = <&kp>, <&LANG2_to_Layer0>;

            #binding-cells = <2>;
            tapping-term-ms = <40>;
            flavor = "tap-unless-interrupted";
        };

        p_reload: p_reload {
            compatible = "zmk,behavior-tap-dance";
            label = "P_RELOAD";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp LG(R)>;
        };

        screenshot_doubetouch: screenshot_doubetouch {
            compatible = "zmk,behavior-tap-dance";
            label = "SCREENSHOT_DOUBETOUCH";
            #binding-cells = <0>;
            bindings = <&none>, <&kp RG(LS(C))>;
        };

        SLACK_STAMP_RIGHT_CLICK: SLACK_STAMP_RIGHT_CLICK {
            compatible = "zmk,behavior-tap-dance";
            label = "SLACK_STAMP_RIGHT_CLICK";
            #binding-cells = <0>;
            bindings = <&mkp MB2>, <&slackstump>;
        };

        MOUSE_LANG2_SHIFT: MOUSE_LANG2_SHIFT {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_LANG2_SHIFT";
            bindings = <&kp>, <&LANG2_to_Layer0>;

            #binding-cells = <2>;
            tapping-term-ms = <40>;
            flavor = "tap-preferred";
        };

        SLACK_STAMP_L: SLACK_STAMP_L {
            compatible = "zmk,behavior-tap-dance";
            label = "SLACK_STAMP_L";
            #binding-cells = <0>;
            bindings = <&kp L>, <&slackstump>;
        };

        DOUBLECLICK_NEWTAB: DOUBLECLICK_NEWTAB {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLECLICK_NEWTAB";
            #binding-cells = <0>;
            bindings = <&none>, <&newtab_to_layer0>;
        };

        MOUSE_LANG1_GUI: MOUSE_LANG1_GUI {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_LANG1_GUI";
            bindings = <&kp>, <&LANG1_to_Layer0>;

            #binding-cells = <2>;
            tapping-term-ms = <40>;
            flavor = "tap-preferred";
        };

        CTRL_F_K: CTRL_F_K {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_F_K";
            #binding-cells = <0>;
            bindings = <&find_to_layer0>, <&findK_to_layer0>;
        };

        Haihun_Bikkuri: Haihun_Bikkuri {
            compatible = "zmk,behavior-tap-dance";
            label = "HAIHUN_BIKKURI";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp EXCLAMATION>;
        };

        Connma_Question: Connma_Question {
            compatible = "zmk,behavior-tap-dance";
            label = "CONNMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;
        };

        DOUBLE_TAP_SLACKTTUMP: DOUBLE_TAP_SLACKTTUMP {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLE_TAP_SLACKTTUMP";
            #binding-cells = <0>;
            bindings = <&none>, <&slackstump>;
        };

        haihun_doubletap_ctrlz: haihun_doubletap_ctrlz {
            compatible = "zmk,behavior-tap-dance";
            label = "HAIHUN_DOUBLETAP_CTRLZ";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&ctrlz_to_layer0>;
        };

        L_doubletap_ctrlshiftz: L_doubletap_ctrlshiftz {
            compatible = "zmk,behavior-tap-dance";
            label = "L_DOUBLETAP_CTRLSHIFTZ";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp RG(LS(Z))>;
        };

        doubletap_mb4: doubletap_mb4 {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLETAP_MB4";
            #binding-cells = <0>;
            bindings = <&none>, <&mkp MB4>;
        };

        doubletap_mb5: doubletap_mb5 {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLETAP_MB5";
            #binding-cells = <0>;
            bindings = <&none>, <&mkp MB5>;
        };

        layer0shift_kaigyo: layer0shift_kaigyo {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER0SHIFT_KAIGYO";
            bindings = <&layer0_to_shift>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "balanced";
        };

        intelliJ: intelliJ {
            compatible = "zmk,behavior-tap-dance";
            label = "INTELLIJ";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>, <&kp RG(LC(C))>;
        };

        doubletap_copy: doubletap_copy {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLETAP_COPY";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LG(C)>;
        };

        doubletap_paste: doubletap_paste {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLETAP_PASTE";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LG(V)>;
        };

        doubletap_kiritori: doubletap_kiritori {
            compatible = "zmk,behavior-tap-dance";
            label = "DOUBLETAP_KIRITORI";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LG(X)>;
        };

        alfabet_numkey: alfabet_numkey {
            compatible = "zmk,behavior-hold-tap";
            label = "ALFABET_NUMKEY";
            bindings = <&alfabet_layer1>, <&alfabet_space>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
        };
    };

    combos {
        compatible = "zmk,combos";

        intent {
            bindings = <&kp LG(LS(N8))>;
            key-positions = <10 11>;
        };

        toDefaultlayer {
            bindings = <&mkp MB1>;
            key-positions = <18 19>;
        };

        todefaultlayer0 {
            bindings = <&to 0>;
            key-positions = <13 14>;
        };

        slack {
            bindings = <&slackstump>;
            key-positions = <17 18>;
        };

        kaigyo {
            bindings = <&kp LA(ENTER)>;
            key-positions = <28 41>;
        };
    };

    macros {
        slackstump: slackstump {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &mkp MB2 &kp R &kp LANGUAGE_2 &to 0>;
            label = "SLACKSTUMP";
        };

        mouceto0: mouceto0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &mkp MB1 &kp LANGUAGE_1 &to 0>;
            label = "MOUCETO0";
        };

        newtab_to_layer0: newtab_to_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp LG(T) &kp LANGUAGE_1>;
            label = "NEWTAB_TO_LAYER0";
        };

        find_to_layer0: find_to_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp LG(F) &kp LANGUAGE_1>;
            label = "FIND_TO_LAYER0";
        };

        LANG1_to_Layer0: LANG1_to_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp LANGUAGE_1>;
            label = "LANG1_TO_LAYER0";
        };

        LANG2_to_Layer0: LANG2_to_Layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp LANGUAGE_2>;
            label = "LANG2_TO_LAYER0";
        };

        findK_to_layer0: findK_to_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp RG(K) &kp LANGUAGE_2>;
            label = "FINDK_TO_LAYER0";
        };

        modoru_doubleclick: modoru_doubleclick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &mkp MB4>;
            label = "MODORU_DOUBLECLICK";
        };

        susumu_doubleclick: susumu_doubleclick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &mkp MB5>;
            label = "SUSUMU_DOUBLECLICK";
        };

        ctrlz_to_layer0: ctrlz_to_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(Z) &to 0>;
            label = "ctrlz_to_layer0";
        };

        layer0_to_shift: layer0_to_shift {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp LEFT_SHIFT>;
            label = "LAYER0_TO_SHIFT";
        };

        slack_sure_nakami: slack_sure_nakami {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp MB2 &kp LC(T)>;
            label = "SLACK_SURE_NAKAMI";
        };

        alfabet_layer1: alfabet_layer1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &to 1>;
            label = "ALFABET_LAYER1";
        };

        alfabet_space: alfabet_space {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANGUAGE_2 &kp SPACE>;
            label = "ALFABET_SPACE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q         &kp W       &kp E         &kp R                     &kp T                                                               &kp P            &kp Y  &kp U  &kp I   &kp O
&kp A         &kp S       &kp D         &kp F                     &kp G             &to 0                    &Haihun_Bikkuri          &Haihun_Bikkuri  &kp H  &kp J  &kp K   &kp BACKSPACE
&kp Z         &kp X       &kp C         &kp V                     &kp B             &kp PERIOD               &Connma_Question         &kp L            &kp N  &kp M  &kp AT  &kp BACKSPACE
&kp LEFT_WIN  &kp LSHIFT  &kp LEFT_ALT  &mt LEFT_SHIFT LS(ENTER)  &lt 4 LANGUAGE_2  &alfabet_numkey 0 0      &mt LEFT_GUI LANGUAGE_1  &lt 5 KP_ENTER                         &to 0
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                                 &kp DOT  &kp N1  &kp N2  &kp N3  &kp N0
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp PERIOD    &kp DOT  &kp N4  &kp N5  &kp N6  &kp N0
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp PERIOD                   &kp QUESTION  &kp DOT  &kp N7  &kp N8  &kp N9  &kp N0
&none                       &none            &none            &none            &none         &none                        &none         &none                            &none
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        ARROW {
            bindings = <
&kp ESCAPE       &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(A)                &none                      &none      &none       &kp MINUS     &kp LCTRL    &kp PIPE
&kp EXCLAMATION  &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &none      &none  &none      &none       &none         &kp AT_SIGN  &none
&kp LEFT_SHIFT   &kp LG(LS(LEFT_ARROW))  &none           &kp LG(LS(RIGHT_ARROW))  &none    &none      &none  &kp COMMA  &kp PERIOD  &kp QUESTION  &kp SLASH    &none
&none            &none                   &none           &none                    &none    &none      &none  &none                                             &none
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_3 {
            bindings = <
&kp ESC  &kp F2   &kp RG(X)  &kp RG(V)               &kp RG(C)                                      &kp GRAVE  &kp HASH              &kp CARET              &kp DOUBLE_QUOTES  &kp PIPE
&kp F11  &kp F12  &kp F10    &kp RG(LA(LEFT_ARROW))  &kp RG(LA(RIGHT_ARROW))  &none      &kp EQUAL  &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS           &kp COLON
&none    &none    &none      &kp LC(LEFT_ARROW)      &kp LC(RIGHT_ARROW)      &none      &kp LBKT   &kp RBKT   &kp LESS_THAN         &kp GREATER_THAN       &kp SLASH          &kp UNDERSCORE
&none    &none    &none      &none                   &none                    &none      &none      &none                                                                      &to 0
            >;
        };

        MOUSE {
            bindings = <
&screenshot_doubetouch  &none  &doubletap_kiritori  &doubletap_paste  &kp LG(C)                                                                         &slack_sure_nakami  &DOUBLECLICK_NEWTAB   &CTRL_F_K       &none     &p_reload
&intelliJ               &none  &none                &kp LS(TAB)       &kp TAB                            &to 0             &kp LG(B)                    &slackstump         &hold_mouceto0 MB1 0  &mkp MB3        &mkp MB2  &kp BACKSPACE
&intelliJ               &none  &none                &kp LEFT_ARROW    &kp RIGHT_ARROW                    &kp UP_ARROW      &kp LG(SPACE)                &kp RG(LS(A))       &doubletap_mb4        &doubletap_mb5  &to 0     &kp BACKSPACE
&kp RIGHT_GUI           &none  &none                &kp LEFT_SHIFT    &MOUSE_LANG2_SHIFT LEFT_CONTROL 0  &lt 1 SPACE       &MOUSE_LANG1_GUI LEFT_GUI 0  &lt 5 KP_ENTER                                                      &none
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &kp RG(X)  &kp RG(V)  &kp RG(C)                      &kp RG(Z)  &kp RG(RS(Z))  &kp UP         &trans     &trans
&trans  &trans  &kp LG(X)  &kp LG(V)  &kp RG(C)  &trans      &trans  &trans     &kp LEFT       &kp DOWN       &kp RIGHT  &kp DELETE
&trans  &trans  &trans     &trans     &trans     &trans      &trans  &trans     &kp RG(Z)      &kp RG(LS(Z))  &trans     &kp DELETE
&trans  &trans  &trans     &trans     &trans     &trans      &trans  &trans                                              &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
